@import "../abstracts/variables";
@import "../abstracts/mixins";

button {
  @include flex(row, center, center);
  @include padding-y($spacing-sm);
  @include padding-x($spacing-xl);
  @include text($fontweight-bold, $fontsize-md, #fff);
  @include shadow(rgba(69, 144, 201, 0.5), 0px 7px 29px 0px);
  @include transition(0.2s, ease-in-out);
  outline: 0;
  border-width: 0px;
  border-color: transparent;
  background-color: $buttons;
  border-radius: $spacing-xs;
  cursor: pointer;
  &:hover {
    background-color: darken($buttons, 10);
  }
  &.cta {
    background-color: $cta;
    @include shadow(rgba(218, 91, 0, 0.5), 0px 7px 29px 0px);
    &:hover {
      background-color: darken($cta, 10);
    }
  }
}
